body{
    font-family: 'Nunito', sans-serif;
}


.navz{
    background-color: #00ba7f;
    min-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
}

.centerVerticalElement{
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu{
    text-align: right;
    color: rgba(255, 255, 255, 0.9);
}

ul li {

}

.menu ul{
    display: inline-block;
    width: 100%;
    margin-top: 15px;

}

.menu ul li{
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    justify-content: center;

}
.menu ul li:last-child{
    margin-right: 0;
}
.zero-padding-margin{
    padding: 0;
    width: 100%;
}

.zero-margin{
    margin-left: 0;
    margin-right: 0;
}

.menu a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    padding: 5px;
}

.menu a:hover{

    color: #333;
    text-decoration: none;
}

.image-section img{
    width: 100%;
}

.spacer-top-bottom{
  padding-top: 50px;
  padding-bottom: 50px;
}


.ch-position{
    text-align: center;
}


.language-box{
    border-left: 2px rgba(253, 253, 254, 0.21) solid;
    justify-content: center;
    min-height: 30px;
    padding-top: 20px;
    padding-bottom: 15px;

}

.language-box ul li{
    text-decoration: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;

}

.language-box ul li a{
    color: rgba(255, 255, 255, 0.9);
}

.language-box ul li a:hover{

    color: #333;
    text-decoration: none;
}


.grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    background-color: rgba(33, 150, 243, 0.09);
    padding: 0px;
    margin-top: -5px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.03);
    padding: 30px;
    text-align: center;
}

.grid-item span{
    margin-left: 15px;
}